*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;

}
.container {
    padding: 20px 35px 35px 35px;
    width:60%;
    margin: 0 auto;
    border: 2px solid;  
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    margin-bottom: 1.5rem;
    text-align:left;
}
input {
    border:none;
    width: 100%;
    height: 50px;
    padding: .7rem;
    font-size: 2rem;
}
button{
    width: 100%;
    height: 50px;
    border: none;
    font-size: 1.5rem;
    border-end-end-radius: 15px;
    border-bottom-left-radius: 15px;
    cursor: pointer;
    margin-bottom: 2rem;
}
hr{
    margin-bottom: 30px;
}
.list-container > :first-child {
    border-start-start-radius: 15px;
    border-start-end-radius: 15px;
}
.todo-item {
    background-color: #f1f1f1;
    padding: 20px;
    border-bottom: 1px solid;
    font-size: 1.5rem;
}
